<footer class="footer" *ngIf="(todos | async).length">
  <span class="todo-count"><strong>{{ todoLeftCount | async }}</strong> item left</span>
  <ul class="filters">
    <li>
      <a [class.selected]="isAll()" routerLink="/">All</a>
    </li>
    <li>
      <a [class.selected]="isActive()" routerLink="/active">Active</a>
    </li>
    <li>
      <a [class.selected]="isCompleted()" routerLink="/completed">Completed</a>
    </li>
  </ul>

  <button class="clear-completed" (click)="clearAllCompleted()">Clear completed</button>
</footer>
