<section class="main" style="display: block;" *ngIf="(todos | async).length">
  <input class="toggle-all"
         id="toggle-all"
         type="checkbox"
         (click)="toggleAll()"
         [checked]="!(leftCount | async)">
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    <li *ngFor="let item of todos | async"
        [class.completed]="item.completed"
        [class.editing]="item.editing">
      <div class="view">
        <input class="toggle"
               type="checkbox"
               [checked]="item.completed" (click)="toggleCompleted(item.id)">
        <label (dblclick)="edit(item)">{{ item.text }}</label>
        <button class="destroy" (click)="removeTodo(item.id)"></button>
      </div>
      <input class="edit"
             #todoInput
             [value]="item.text"
             (mouseover)="todoInput.focus()"
             (blur)="update(item.id, todoInput.value)"
             (keydown.enter)="update(item.id, todoInput.value)">
    </li>
  </ul>
</section>
