<header class="header">
  <h1>todos</h1>
  <input class="new-todo"
         placeholder="What needs to be done?"
         autofocus
         #todo
         [(ngModel)]="newTodo"
         (keyup.enter)="addTodo(todo.value)">
</header>
